body {
	color: #222;
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background: #c0c0c0;
}

.about-window {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#pdf-canvas {
	border: 1px solid black;
	background: #fff;
	display: block;
	margin: 0 auto;
}